{% extends "account/base.html" %}
{% load globaltags %}

{% load bootstrap %}
{% load i18n %}


{% block nav_item %}
{% proptypes as proptype_list %}
{% for prop in proptype_list %}
    <li class="nav-item">
        <a class="nav-link page-scroll" href="{% url "prop-type-list" slug=prop.slug %} ">{{prop.type}}</a>
    </li>
 {% empty %}
  <p>No Menu yet!</p>
{% endfor %}
{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section id="signup">
<div class="container">
<div class="row"><div class="col-lg-6">
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-actions">
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
  </div>
</form></div>
</div></div>    
</section>
{% endblock %}